//定义通用颜色，字体
$color-background: red;
$color-type1: #67affb;
$color-type2: #ffb86c;
$color-type3: #f87678;
$color-type4: #f9c;
$color-type5: #adca7a;
$color-type6: #ababab;
$color-type7: #e9e9e9;