@import "../../common/css/variable.scss";

.search-container {
  display: flex;
  height: 288px;
  margin: 20px 0;
  .left {
    flex: 0 0 320px;
    .search-type {
      cursor: pointer;
    }
  }
  .right {
    width: 680px;
    border-radius: 10px;
    border: 1px solid;
    .r-search {
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      .search-icon {
        font-size: 32px;
        margin-right: 10px;
      }
    }
    .r-input {
      display: flex;
      justify-content: center;
      input {
        padding: 0 10px;
        width: 400px;
        height: 32px;
        text-align: center;
        font-size: 15px;
        border: 1px solid $color-type1;
      }
      input:focus {
        outline: 0;
        border: 1px solid $color-type1;
      }
      span {
        width: 40px;
        height: 32px;
        position: relative;
        border: 1px solid;
        border-left: 0;
        font-size: 26px;
        cursor: pointer;
      }
      span:before {
        position: absolute;
        top: 2px;
        left: 6px;
      }
      .clear {
        position: relative;
        left: -64px;
        top: 8px;
        cursor: pointer;
      }
    }
    .r-list {
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      span {
        padding: 5px 10px;
        margin: 0 5px;
        cursor: pointer;
        border-radius: 7px;
        border: 1px solid;
      }
    }
  }

  .search-name {
    font-size: 30px;
  }
//代码优化点
  .color-type1 {
    color: $color-type1;
    border:1px solid $color-type1 !important;
  }
  .color-type2 {
    color: $color-type2;
    border:1px solid $color-type2 !important;
  }
  .color-type3 {
    color: $color-type3;
    border:1px solid $color-type3 !important;
  }
  .color-type4 {
    color: $color-type4;
    border:1px solid $color-type4 !important;
  }
  .color-type5 {
    color: $color-type5;
    border:1px solid $color-type5 !important;
  }
  .color-type6 {
    color: $color-type6;
    border:1px solid $color-type6 !important;
  }
  // @for $i from 1 to 8 {
  //   .color-type#{$i} {
  //     color: $color-type+$i;
  //   }
  // }

}
